<div class="container">
<h1>TOP MOVIES</h1>

  <h5><%= link_to 'Create List', new_list_path %></h3>

  <div class="cards">
    <% @lists.each do |list| %>
      <%= link_to "#{list.name}", list_path(list) %>
    <% end %>
  </div>
</div>
